<div class="header-container">
  <div class="header-container__location">
    <div class="header-container__left">
      <div class="location">
        <h3>{{city}}</h3>
        <svg id="location-icon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 11.938 16.711"
             class="sc-eDPEul gaAwuz">
          <path id="locationicon"
                d="M10.658,0A5.927,5.927,0,0,0,4.69,5.848c0,4.387,5.968,10.863,5.968,10.863s5.969-6.476,5.969-10.863A5.927,5.927,0,0,0,10.658,0Zm0,7.938a2.089,2.089,0,1,1,2.132-2.089,2.091,2.091,0,0,1-2.132,2.089Z"
                transform="translate(-4.69)" fill="#ffea53"></path>
        </svg>
      </div>

      <div class="search">
        <input type="text"  [(ngModel)]="city" (ngModelChange)="onCityChange()" placeholder="Address, City">

        <div class="filter">Hourly</div>
        <div class="filter">7 Days</div>
        <div class="filter">14 Days</div>
      </div>
    </div>
    <div class="header-container__right"></div>
  </div>

  <div class="header-container__date">
  </div>
</div>
