.weather-container {
  padding: 0 2.5rem;

  &__main {
    h1 {
      margin-top: 0.625rem;
      font-size: 5rem;
      font-weight: 300;
    }
  }

  &__details {
    margin-top: 1.875rem;

    hr {
      margin: 0.625rem 0;
    }
  }

  &__location-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    span {
      font-weight: 500;
    }
  }

  &__extra-info {
    gap: 0.9375rem;
    display: flex;
    flex-direction: column;

    p {
      display: flex;
      flex-wrap: wrap;
      gap: 0.4375rem;
      align-items: center;
    }

    p:nth-child(2) {
      margin-left: 0.75rem;
      gap: 1.25rem;
    }

    img {
      width: 50px;
      height: 50px;
    }
  }
}
