.forecast-container {
  width: 33rem;
  height: 85vh;
  border-radius: 0.625rem;
  padding: 1rem 2rem;
  background-color: var(--card-background);

  &__header {
    margin-bottom: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 1050px) {
    width: calc(100vw - 20vw);
  }

  @media (max-width: 768px) {
    width: 23rem;
  }

  @media (max-width: 480px) {
    width: 21rem;
    height: 100%;
  }
}
