@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --text-color: black;
  --background-color: white;
}

.dark-theme {
  --text-color: white;
  --background-color: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: "Rubik", sans-serif;
  background-color: var(--background-color);
  transition: background-color 0.3s, color 0.3s;
}
